[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/kimcc/hugo-theme-noteworthy.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
